<body>
    <mat-toolbar class="a">
        <button mat-button [routerLink]="['/teacherMain']">
          <img src="assets/logo/logo.png" style="width: 2cm;">
        </button>
        <span class="example-spacer"></span>
        <button class="btn"  mat-button [routerLink]="['/registerStudents']" routerLinkActive="active">
          רישום תלמידים
        </button>
        <button class="btn"  mat-button [routerLink]="['/studentsDetails']" routerLinkActive="active">
          תלמידים
        </button>
        <button class="btn"  mat-button [routerLink]="['/words']" routerLinkActive="active">
          מילים
        </button>
        <button class="btn"  mat-button [routerLink]="['/statistics']" routerLinkActive="active">
          ניתוח נתונים וסטטיסטיקה
        </button>
        <button class="btn"  mat-button [routerLink]="['/home']" routerLinkActive="active">
          יציאה
        </button>
      </mat-toolbar>
<div class="hendRegister">
    <form [formGroup]="studentRegisterForm"  (ngSubmit)="register()">                     
        <mat-form-field class="example-full-width">
            <mat-label>שם פרטי:</mat-label>
            <input formControlName="firstName" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>שם משפחה:</mat-label>
            <input formControlName="lastName" matInput>
        </mat-form-field> 
        
        <mat-form-field class="example-full-width">
            <mat-label>ת"ז:</mat-label>
            <input formControlName="id" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>סיסמה:</mat-label>
            <input formControlName="password" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>אישור סיסמה:</mat-label>
            <input formControlName="confirmPassword" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>מייל:</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>בית ספר:</mat-label>
            <input formControlName="schoolCode" #name matInput [formControl]="myControl" [matAutocomplete]="auto" (input)="_filter(name.value)">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
                <mat-option *ngFor="let option of schoolList" [value]="option.SchoolCode" >
                  {{option.SchoolName}}
                </mat-option>
              </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>שכבה:</mat-label>
            <input formControlName="layerNumber" matInput>
        </mat-form-field>
<div>
    <button type="submit" mat-raised-button>הרשמה </button>                               
</div> 
</form> 
</div>
<div class="autoRegister">
    <input type="file" accept=".xls,.xlsx" mat-raised-button #students (change)="uploadFile(students) ">
</div>

</body>