<mat-toolbar>
    <button mat-button [routerLink]="['/studentMain']">
      <img src="assets/playthelist2.png" style="width: 2cm;">
    </button>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/students']" routerLinkActive="active">
      פרטים אישיים
    </button>
    <button mat-button [routerLink]="['/studentsDetails']" routerLinkActive="active">
      תרגול
    </button>
    <button mat-button [routerLink]="['/home']" routerLinkActive="active">
      יציאה
    </button>
  </mat-toolbar>