<body>
  <mat-toolbar class="a">
    <button mat-button [routerLink]="['/studentMain']">
      <img src="assets/logo/logo.png" style="width: 2cm;">
    </button>
    <span class="example-spacer"></span>
    <button class="btn" mat-button [routerLink]="['/students']" routerLinkActive="active">
      פרטים אישיים
    </button>
    <button class="btn" mat-button [routerLink]="['/game']" routerLinkActive="active">
      תרגול
    </button>
    <button class="btn" mat-button [routerLink]="['/home']" routerLinkActive="active">
      יציאה
    </button>
  </mat-toolbar>
  
  <mat-card>{{user.FirstName}}</mat-card>
    <!-- <mat-form-field class="example-full-width">
      <mat-label>{{user.LastName}}</mat-label>
        
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>{{user.ID}}</mat-label>
        
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>{{user.Email}}</mat-label>
        
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>{{user.Password}}</mat-label>
        
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>{{user.LayerNumber}}</mat-label>
        
    </mat-form-field> -->
  
</body>