
.main
{
    width: 300px;
    margin: auto;
}

.main .btn
{
    margin: 0px 10px;
}

.error
{
    color: red;
    font-size: 12px;
}
.example-full-width {
    width: 100%;
    text-align: right;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  } 