body
{
    background-image: url("/assets/background/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    margin: auto;
}
.main
{
    margin: auto;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.example-full-width 
{
    width: 100%;
    text-align: right;
}



.example-card 
{
    max-width: 350px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: static;
    align-items: center; 
    
}

.btn
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    align-items: center; 
      
}

.a
{
    height: 80px;
}