<body>
    <mat-toolbar class="a">
        <button mat-button [routerLink]="['/teacherMain']">
          <img src="assets/logo/logo.png" style="width: 2cm;">
        </button>
        <span class="example-spacer"></span>
        <button class="btn"  mat-button [routerLink]="['/registerStudents']" routerLinkActive="active">
          רישום תלמידים
        </button>
        <button class="btn"  mat-button [routerLink]="['/studentsDetails']" routerLinkActive="active">
          תלמידים
        </button>
        <button class="btn"  mat-button [routerLink]="['/words']" routerLinkActive="active">
          מילים
        </button>
        <button class="btn"  mat-button [routerLink]="['/statistics']" routerLinkActive="active">
          ניתוח נתונים וסטטיסטיקה
        </button>
        <button class="btn"  mat-button [routerLink]="['/home']" routerLinkActive="active">
          יציאה
        </button>
      </mat-toolbar>
<div class="l">
      <table mat-table [dataSource]="studentList" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ת"ז </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> שם פרטי </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</body>
  
