body
{
    background-image: url("/assets/background/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    margin: auto;
}